:root {
    --bg-color: #2c2c54;
    --hover-color: #cd6133;
    --text-color: #d1ccc0;
    --dim-text-color: #a0a0a0;
    --element-color: #ff793f;
    --element-border-color: #cd6133;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inline-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#mapImage {
    width: 500px;  /* Set width to 500 pixels */
    height: 500px; /* Set height to 500 pixels */
    margin-bottom: 20px;
}

#calloutDisplay {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 20px; /* Space below the callout text */
}

button, select {
    padding: 10px 15px;
    border: 1px solid var(--element-border-color);
    border-radius: 4px;
    background-color: var(--element-color);
    cursor: pointer;
}

button:hover, select:hover {
    background-color: var(--hover-color);
}

.disabled-dropdown {
    background-color: var(--hover-color); /* Light gray background */
    color: var(--dim-text-color); /* Dim text color */
}
