:root {
    --bg-color: #2c2c54;
    --hover-color: #cd6133;
    --text-color: #d1ccc0;
    --dim-text-color: #a0a0a0;
    --element-color: #ff793f;
    --element-border-color: #cd6133;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex; /* Flexbox for container */
    flex-direction: column; /* Column direction */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 100%; /* Make container take full width */
    max-width: 800px; /* Optional: limit the maximum width of the container */
}

h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.inline-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#mapImage {
    width: 500px;  /* Set width to 500 pixels */
    height: 500px; /* Set height to 500 pixels */
    margin: 20px auto; /* Center the map image with margin */
    display: block; /* Ensure it's treated as a block element */
}

#calloutDisplay {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 20px; /* Space below the callout text */
}

button, select {
    padding: 10px 15px;
    border: 1px solid var(--element-border-color);
    border-radius: 4px;
    background-color: var(--element-color);
    cursor: pointer;
}

button:hover, select:hover {
    background-color: var(--hover-color);
}

.disabled-dropdown {
    background-color: var(--hover-color); /* Light gray background */
    color: var(--dim-text-color); /* Dim text color */
}
